.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #86A789;
}

.contain {
  width: 50%;
  height: 83%;
  background-color: #D2E3C8;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #000000cc;
}
