.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000ea;
}

.contain {
  width: 50%;
  height: 80%;
  background-color: #0b261daa;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #000000;
}
